---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout highlightedTab="Tools" pageTitle="Frametime Converter">
  <h1>Frametime converter</h1>
  <label for="toggle">
    <button id="toggleButton">Change to FPS</button>
  </label>
  <br />
  <div class="input">
    <input type="text" id="input" value="50" />
    <p id="unitLabel">ms</p>
  </div>
  <div class="cluster">
    <input type="text" id="min" value="1" />
    <input type="range" id="slider" value="50" />
    <input type="text" id="max" value="240" />
  </div>
  <button id="addLog">Save result</button>
  <button id="clear">Clear results</button>
  <div id="result"></div>
  <div id="log"></div>
</BaseLayout>

<style>
  #min,
  #max {
    width: 5ch;
  }

  #input {
    width: 7ch;
    min-width: 7ch;
  }

  .cluster {
    display: flex;
    gap: 0.4rem;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .input p {
    margin-top: 0.4rem;
    line-height: 1;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const sliderLimits = {
      frametimeMin: 20,
      frametimeMax: 100,
      fpsMin: 1,
      fpsMax: 240,
    };

    const toggleButton = document.getElementById(
      "toggleButton"
    ) as HTMLButtonElement;
    const input = document.getElementById("input") as HTMLInputElement;
    const unit = document.getElementById("unitLabel") as HTMLInputElement;
    const min = document.getElementById("min") as HTMLInputElement;
    const max = document.getElementById("max") as HTMLInputElement;
    const slider = document.getElementById("slider") as HTMLInputElement;
    const saveButton = document.getElementById("addLog") as HTMLInputElement;
    const clearButton = document.getElementById("clear") as HTMLInputElement;
    const result = document.getElementById("result") as HTMLDivElement;
    const log = document.getElementById("log") as HTMLDivElement;
    let isFrametime = true;

    min.addEventListener("input", (event) => {
      if (isFrametime) {
        sliderLimits.frametimeMin = parseFloat(min.value);
      } else {
        sliderLimits.fpsMin = parseFloat(min.value);
      }
      updateSliderAttributes();
    });

    max.addEventListener("input", (event) => {
      if (isFrametime) {
        sliderLimits.frametimeMax = parseFloat(max.value);
      } else {
        sliderLimits.fpsMax = parseFloat(max.value);
      }
      updateSliderAttributes();
    });

    function updateSliderAttributes(): void {
      const newValue = parseFloat(input.value) || parseFloat(slider.value);
      const convertedValue = convert(newValue);
      console.log(newValue);
      console.log(convertedValue);
      slider.min = isFrametime
        ? sliderLimits.frametimeMin.toString()
        : sliderLimits.fpsMin.toString();
      slider.max = isFrametime
        ? sliderLimits.frametimeMax.toString()
        : sliderLimits.fpsMax.toString();
      min.value = isFrametime
        ? Math.floor(sliderLimits.frametimeMin).toString()
        : Math.floor(sliderLimits.fpsMin).toString();
      max.value = isFrametime
        ? Math.ceil(sliderLimits.frametimeMax).toString()
        : Math.ceil(sliderLimits.fpsMax).toString();
      if (isFrametime) {
        sliderLimits.frametimeMin = Math.min(
          sliderLimits.frametimeMin,
          sliderLimits.frametimeMin,
          convertedValue
        );
        sliderLimits.frametimeMax = Math.max(
          sliderLimits.frametimeMax,
          convertedValue
        );
      } else {
        sliderLimits.fpsMin = Math.floor(
          Math.min(sliderLimits.fpsMin, convertedValue)
        );
        sliderLimits.fpsMax = Math.ceil(
          Math.max(sliderLimits.fpsMax, convertedValue)
        );
      }
      slider.value = convertedValue.toFixed(0).toString();
      input.value = convertedValue.toFixed(0).toString();
    }

    function updateButtonText(): void {
      toggleButton.textContent = isFrametime
        ? "Switch to FPS"
        : "Switch to Frametime";
      unit.textContent = isFrametime ? "ms" : "FPS";
    }

    function addToLog(): void {
      const value = parseFloat(input.value) || parseFloat(slider.value);
      const convertedValue = convert(value);
      const newChild = document.createElement("p");
      newChild.textContent = isFrametime
        ? `${value.toFixed(0)}ms = ${convertedValue.toFixed(0)}FPS`
        : `${value.toFixed(0)}FPS = ${convertedValue.toFixed(2)}ms`;
      log.appendChild(newChild);
    }
    saveButton.addEventListener("click", () => {
      addToLog();
    });

    function convert(value: number): number {
      return isFrametime ? 1000 / value : 1000 / value;
    }

    function updateResult(): void {
      const value = parseFloat(input.value) || parseFloat(slider.value);
      const convertedValue = convert(value);
      result.textContent = isFrametime
        ? `${value.toFixed(0)}ms = ${convertedValue.toFixed(1)}FPS`
        : `${value.toFixed(0)}FPS = ${convertedValue.toFixed(2)}ms`;
    }
    input.addEventListener("input", updateResult);

    clearButton.addEventListener("click", () => {
      while (log.lastElementChild) {
        log.removeChild(log.lastElementChild);
      }
    });

    toggleButton.addEventListener("click", () => {
      isFrametime = !isFrametime;
      updateSliderAttributes();
      updateResult();
      updateButtonText();
    });

    slider.addEventListener("input", () => {
      input.value = slider.value;
      updateResult();
    });

    updateSliderAttributes();
    updateResult();
  });
</script>
