---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../styles/global.css";
import Tooltip from "@components/pizazz/Tooltip.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h1>Who am I?</h1>
  <p>
    Hi there! I'm Matt Chan (he/they), a software developer from Hong Kong who
    likes building things that spark joy, both for myself and others. I have a
    Bachelor's in Computer Science with a minor in <Tooltip
      text="English"
      hover="Creative writing!"
    />from <a href="https://www.skidmore.edu/computer_science/"
      >Skidmore College</a
    >! I'm currently located in Brooklyn, NY. I write, but not often enough!
  </p>
  <p>
    I've designed, developed, configured, and deployed everything from:
    <ul>
      <li>
        Automation and consolidation of post purchase operations between
        multiple SaaS <Tooltip
          text="products"
          hover="Stripe, Monday.com, Zapier, Bubble.io, Kajabi, Slack"
        />
      </li>
      <li>
        Marketing and e-commerce websites with Stripe and <Tooltip
          text="Wix"
          hover="Yes, this WAS the right tool for the job 😬"
        />
      </li>
      <li>Nginx reverse-proxies and websites with Oracle's cloud solution</li>
      <li>
        Modded Minecraft servers on the cloud (also on <Tooltip
          text="Oracle"
          hover="Their free tier is generous -- 4 cores and 24 gigs of ram!"
        />)
      </li>
      <li>Literally-on-demand streaming services</li>
      <li>
        A programmable Playwright testing suite (before the real one came
        along!)
      </li>
    </ul>
  </p>
  <p>
    I'm also a co-founder of Skidmore's Computer Science club. There, I adapted
    and delivered lectures about everyone's favorite version control system:
    Git.
  </p>
  <p>
    I've found that it's healthier for me to talk about our hobbies and
    interests than to stay alone with them for too long.
  </p>

  <p>I like to:</p>

  <ul>
    <li>Play bass — recently found a Tbird for $300 off!</li>
    <li>
      Make side projects — right now, I'm working on <a
        target="_blank"
        href="https://boomboxd.vercel.app">Boomboxd</a
      >, a Spotify playlist annotator that is quickly getting <Tooltip
        text="out of scope."
        hover="yet somehow feature-thin..."
      />
    </li>
    <li>Read — currently reading through Greg Egan's Axiomatic collection.</li>
    <li>
      Mess around with a
      <a href="https://configure.zsa.io/voyager/layouts/alBEv/rnPx9/0"
        >keyboard layout.</a
      >
    </li>
    <li>
      And I wouldn't be much of a CS major if I didn't play video games. I'm
      open to most genres, but I've got a soft spot for Supergiant games. <a
        target="_blank"
        href="https://citizensleeper.com/">Citizen Sleeper</a
      > is my current favorite.
    </li>
  </ul>

  <p>
    If any of the above interests you, <a
      href="mailto:mattdev23@protonmail.com?subject=Something I want to talk about...!"
      >shoot me an email</a
    > or connect with me on <a
      href="https://www.linkedin.com/in/matthew-chan-skid23/">LinkedIn</a
    >! I'm always interested in meeting new people.
  </p>
  <div class="container">
    <div class="spotlight-area">
      <!-- Hidden elements go here -->
      <div class="hidden-element">
        <p>
          <a href="https://www.techbropuritytest.com/" target="_blank"
            >My Tech Bro Purity score is 84.</a
          >
        </p>
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const container = document.querySelector(".container") as HTMLDivElement;
    const spotlightArea = document.querySelector(
      ".spotlight-area"
    ) as HTMLDivElement;
    const hiddenElements = document.querySelectorAll(".hidden-element");
    let darkMode = document.documentElement.classList.contains("dark");
    let lightColor = darkMode ? "rgba(255,255,255,0.2)" : "rgba(0,0,0,0.2)";

    container.addEventListener("mouseenter", (e) => {
      darkMode = document.documentElement.classList.contains("dark");
      lightColor = darkMode ? "rgba(70,74,166,0.5)" : "rgba(255,255,255,0.9)";
    });

    container.addEventListener("mousemove", (e) => {
      const { clientX, clientY } = e;
      const { left, top, width, height } = container.getBoundingClientRect();

      const x = clientX - left;
      const y = clientY - top;

      // Create or update spotlight gradient
      spotlightArea.style.background = `radial-gradient(circle 100px at ${x}px ${y}px, ${lightColor}, transparent)`;

      // Check each hidden element
      hiddenElements.forEach((element: HTMLDivElement) => {
        const rect = element.getBoundingClientRect();
        const elementCenterX = rect.left + rect.width / 2 - left;
        const elementCenterY = rect.top + rect.height / 2 - top;

        const distance = Math.sqrt(Math.pow(y - elementCenterY, 2));

        if (distance < 100) {
          element.style.opacity = (1 - distance / 100).toString();
        } else {
          element.style.opacity = "0";
        }
      });
    });

    container.addEventListener("mouseleave", () => {
      spotlightArea.style.background = "none";
      hiddenElements.forEach((element: HTMLDivElement) => {
        element.style.opacity = "0";
      });
    });
  });
</script>

<style>
  .container {
    position: relative;
    width: 100%;
    height: 10rem;
    overflow: hidden;
  }

  .spotlight-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: none;
    justify-content: center;
  }

  .hidden-element {
    color: var(--color-light-deemp);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  html.dark .hidden-element {
    color: var(--color-night-deemp);
  }

  .hidden-element p {
    text-align: center;
  }
</style>
