---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
const identity = {
  firstName: "Matt",
  country: "the US",
  occupation: "unemployed",
  hobbies: [
    "keyboard shortcuts and mappings",
    "messing with my mouse acceleration curve",
  ],
};
const skills = [
  "HTML",
  "CSS3",
  "JavaScript ES6",
  "Ada (for real)",
  "React",
  "Astro",
  "Wix (ahahahaha.)",
  "DNS configuration",
  "Docker",
  "nginx",
];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "capitalize";
---

<BaseLayout pageTitle={pageTitle} highlightedTab={pageTitle}>
  <h2>Prattling on about myself</h2>
  <p>
    Hey! I'm Matt Chan, a CS grad from <a
      href="https://www.skidmore.edu/computer_science/">Skidmore College</a
    > with not much left to lose, and everything to prove. Welcome to my blog,
    proudly on <a href="https://astro.build">Astro</a>: an <a
      href="https://www.cloudflare.com/learning/performance/static-site-generator/"
      >SSG</a
    > focused on delivering a minimal amount of JavaScript with a React-like
    component architecture!
  </p>
  <p>
    If that was a bunch of gibberish: Astro allows web developers to keep their
    fancy toys they've built over the years, while still keeping the final
    product nice and light! This is good in two ways: websites will load faster,
    and that also means that it's better for the environment! Because of the way
    Astro works, it allows website made with Astro to be cached around the world
    in a <a href="https://en.wikipedia.org/wiki/Content_delivery_network">CDN</a
    >, making it extra fast, no matter where you're connecting from!
  </p>
  <p>More facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I currently am in {identity.country} and I'm newly {identity.occupation}.
      Fun!
    </li>
    {
      identity.hobbies.length >= 1 && (
        <li>
          Two of my hobbies: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>
    My skills include (but are not limited to (also take with a grain of salt
    I'm just trying out the astro's js mapping))
  </p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
