---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogListing from "@components/BlogListing.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} highlightedTab="Blog">
  <h1>Posts and drabbles</h1>
  <p>
    See some of my writing here. Keep in mind that my posts will likely benefit
    myself more than the reader. Nonetheless, I appreciate you taking the time
    to read them!
  </p>
  <div class="postList">
    <dl>
      {
        allPosts.map((post) => (
          <BlogListing
            post={post}
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            description={post.data.description}
            pubDate={post.data.pubDate}
          />
        ))
      }
    </dl>
  </div>
</BaseLayout>

<style>
  ul {
    padding: 0;
  }
</style>
