---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>Should I be building in public? Of course I should!</h2>
      <p>
        This blog will serve as an extended lesson on the dangers of
        procrastination and <a href="https://en.wiktionary.org/wiki/yak_shaving"
          >yakshaving</a
        >. (it's the second noun (nounic?) definition.)
      </p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
