---
const { pageTitle, highlightedTab, meta, showFooter = true } = Astro.props;
import "../styles/global.css";
import "../styles/animations.css";
import type { TransitionAnimationPair } from "astro";
import CommonHead from "@components/CommonHead.astro";
import Header from "../components/LayoutComponents/Header.astro";
import Footer from "@components/LayoutComponents/Footer.astro";

// credit to Eva Decker at eva.town
const forwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutUp",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInUp",
    duration: "0.32s",
    delay: "0.2s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const backwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutDown",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInDown",
    duration: "0.3s",
    delay: "0.2s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const rightwards: TransitionAnimationPair = {
  old: {
    name: "fadeOutLeft",
    duration: "0.2s",
    easing: "ease-in",
    fillMode: "forwards",
  },
  new: {
    name: "fadeInLeft",
    duration: "0.32s",
    delay: "0.2s",
    easing: "ease-out",
    fillMode: "backwards",
  },
};

const viewTransition = {
  forwards,
  backwards,
};

const heroViewTransition = {
  forwards: rightwards,
  backwards: rightwards,
};
---

<html lang="en">
  <head>
    <CommonHead pageTitle={pageTitle} meta={meta} />
  </head>
  <body>
    <div class="blur-top" aria-hidden="true"></div>
    <Header activeLink={highlightedTab} />
    <div class="website">
      {
        pageTitle === "Home" ? (
          <main transition:animate={heroViewTransition}>
            <slot />
          </main>
        ) : (
          <main transition:animate={viewTransition}>
            <slot />
          </main>
        )
      }
      {showFooter && <Footer />}
    </div>
    <div class="blur-bottom" aria-hidden="true"></div>
    <style>
      .blur-top {
        pointer-events: none;
        position: fixed;
        top: 0;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          180deg,
          rgb(241, 245, 249, 1) 0%,
          rgba(0, 212, 255, 0) 78%
        );
        width: 100%;
        height: 40px;
        z-index: 10;
      }

      html.dark .blur-top {
        background: rgb(2, 0, 36);
        background: linear-gradient(
          180deg,
          rgba(18, 16, 70, 1) 0%,
          rgba(0, 212, 255, 0) 78%
        );
      }

      .blur-bottom {
        pointer-events: none;
        position: fixed;
        bottom: 0;
        background: rgb(2, 0, 36);
        background: linear-gradient(
          0deg,
          rgb(241, 245, 249, 1) 0%,
          rgba(0, 212, 255, 0) 78%
        );
        width: 100%;
        height: 40px;
        z-index: 150;
      }

      html.dark .blur-bottom {
        background: rgb(2, 0, 36);
        background: linear-gradient(
          0deg,
          rgba(18, 16, 70, 1) 0%,
          rgba(0, 212, 255, 0) 78%
        );
      }

      .website {
        display: flex;
        flex-direction: column;
        min-height: 88vh;
      }

      main {
        flex: 1 0 auto;
      }

      footer {
        flex-shrink: 0;
      }
      @keyframes fadeOutUp {
        0% {
          opacity: 1;
          transform: translateY(0);
        }

        100% {
          opacity: 0;
          transform: translateY(-24px);
        }
      }

      @keyframes fadeInUp {
        0% {
          opacity: 0;
          transform: translateY(32px);
        }

        65% {
          opacity: 1;
          transform: translateY(-2px);
        }

        80% {
          transform: translateY(2px);
        }

        100% {
          transform: translateY(0);
        }
      }

      @keyframes fadeOutDown {
        0% {
          opacity: 1;
          transform: translateY(0);
        }

        100% {
          opacity: 0;
          transform: translateY(24px);
        }
      }

      @keyframes fadeInDown {
        0% {
          opacity: 0;
          transform: translateY(-32px);
        }

        65% {
          opacity: 1;
          transform: translateY(2px);
        }

        80% {
          transform: translateY(-2px);
        }

        100% {
          transform: translateY(0);
        }
      }

      @keyframes fadeOutLeft {
        0% {
          opacity: 1;
          transform: translateX(0);
        }

        100% {
          opacity: 0;
          transform: translateX(-550px);
        }
      }

      @keyframes fadeInLeft {
        0% {
          opacity: 0;
          transform: translateX(160px);
        }

        65% {
          opacity: 1;
          transform: translateX(-5px);
        }

        80% {
          transform: translateX(5px);
        }

        100% {
          transform: translateX(0);
        }
      }
    </style>
  </body>
</html>
