---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import Counter from "@components/pizazz/Counter.svelte";
---

<BaseLayout
  pageTitle={frontmatter.title}
  highlightedTab="Blog"
  showFooter={false}
>
  <h1>{frontmatter.title}</h1>
  <slot name="right-body" slot="right-body" />
  <div class="likes-row">
    <Counter client:load blogTitle={frontmatter.title} />
  </div>
  <div class="tag-and-date-container">
    <div class="tag-row">
      <p class="indicator">tags:</p>
      <div class="tags">
        {
          frontmatter.tags.map((tag: string) => (
            <p class="tag">
              <a href={`/tags/${tag}/`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </div>
    <span class="date-container">
      <p class="field">
        {frontmatter.pubDate.toString().slice(0, 10)}
      </p>
    </span>
  </div>
  <article>
    <slot />
  </article>
  <div class="ghclight">
    <script
      src="https://giscus.app/client.js"
      data-repo="multimattia/astro-starter-blog"
      data-repo-id="R_kgDOK7t-Zg"
      data-category="Comments"
      data-category-id="DIC_kwDOK7t-Zs4CcUQN"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="0"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </div>
</BaseLayout>

<style is:inline>
  .astro-code {
    padding: 10px;
    margin: var(--base-margin);
    margin-bottom: calc(4 * var(--base-margin));
    border-radius: 7px;
    scrollbar-color: #7d7d7d #282b36;
  }

  .astro-code span::selection,
  .astro-code code::selection {
    background-color: #5d6176;
  }

  p {
    margin-bottom: calc(2 * var(--base-margin));
  }

  .astro-code::-webkit-scrollbar {
    height: 5px;
    background-color: inherit;
  }

  .astro-code::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border-radius: 7px;
  }

  h2,
  h3 {
    font-family: var(--gabarito);
    font-weight: 800;
    margin-bottom: 0.4rem;
  }
</style>

<style>
  .tag-and-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(3 * var(--base-margin));
  }

  .field {
    font-family: monospace;
  }

  .title-and-date-container > h1 {
    margin-bottom: 0;
  }

  .date-container {
    text-align: right;
    align-self: flex-end;
    margin-bottom: 0.5rem;
  }

  .likes-row {
    display: flex;
    flex-direction: row;
  }

  .date-container > p {
    margin: 0;
    min-width: 15ch;
  }

  .ghclight {
    background-color: var(--color-light-listing-bg);
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 7px;
  }

  html.dark .ghclight {
    border-radius: 7px;
  }

  html.dark a {
    color: var(--color-night-deemp);
  }

  .indicator {
    color: var(--color-light-deemp);
    font-family: monospace;
    margin-bottom: 0;
  }

  html.dark .indicator {
    color: var(--color-night-deemp);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em 0.25em 0.25em 0em;
    border-radius: 7px;
    padding: 0.5em 1em;
    font-size: 0.85em;
    background-color: var(--color-light-listing-bg);
  }

  html.dark .tag {
    background-color: var(--color-night-listing-bg);
  }
</style>
